.game-main-container {
  height: 79%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 13.5%;
  font-family: monospace;
}

.game-container {
  width: 50%;
  height: 82%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #6d5d6e;
  border-radius: 32px;
  box-shadow: 0 0 22px 0 white;
  position: relative;
}

.game-title {
  width: 60%;
  position: absolute;
  font-size: 2.2vw;
  color: white;
  top: -5%;
  background-color: #393646;
  left: 50%;
  translate: -50%;
  border-radius: 32px;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

form {
  width: 86%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 0 16px 4px 0;
}

.game-container input {
  font-size: 1.6rem;
  padding: 8px 12px;
  background-color: #393646;
  border: none;
  margin-top: 3%;
}

.game-container input[type="number"] {
  width: 60%;
  border-bottom-left-radius: 32px;
  border-top-left-radius: 32px;
}

.game-container input[type="submit"] {
  border-bottom-right-radius: 32px;
  border-top-right-radius: 32px;
}

.game-container input[type="submit"]:hover {
  background-color: hsl(251, 13%, 54%);
}

.guesses-box {
  margin-top: 4%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guesses-box p {
  font-size: 1.2rem;
  padding-top: 12px;
  border-radius: 16px;
}

.rule-box {
  width: 90%;
  height: 50%;
  font-size: 1.1rem;
  margin-top: 8%;
}

.rule-box h5 {
  font-size: 1.6rem;
  text-align: left;
  margin: 0;
  padding: 0;
}

.rule-box ul {
  width: 100%;
  height: 75%;
  padding: 0 8px;
  margin: 0;
}

.result-text {
  position: absolute;
  top: 45%;
  font-size: 1.6rem;
  transform: translateY(-50%);
}

button {
  border-radius: 50%;
  width: 50px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

/*for Tablet Screens*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .game-main-container {
    height: 79%;
    width: 100%;
  }

  .game-container {
    width: 76%;
    height: 82%;
  }

  .game-title {
    width: 60%;
    font-size: 4.2vw;
    top: -4%;
  }

  .guesses-box p {
    font-size: 1.5rem;
  }

  .game-container input{
    font-size: 2.2rem;
  } 

  .button-container{
    margin: 0 16px -2px 0;
  }

  button{
    width: 70px;
    height: 60px;
  }

  .rule-box h5{
    font-size: 2.2rem;
  }

  .rule-box ul{
    font-size: 2.8vw;
    margin: 16px 0 16px 0;
  }

  .result-text {
    top: 38%;
    font-size: 2.8vw;
  }
}

/*for Mobile screens*/
@media screen and (max-width: 767px) {
    .game-container{
        width: 80%;
        height: 86%;
    }

    .game-title{
        width: 78%;
        font-size: 6.2vw;
        top: -3%;
        translate: -50%;
    }

    .guesses-box{
        width: 96%;
        flex-direction: column;
        margin: 0;
    }

    .guesses-box p{
        font-size: .8rem;
    }

    .game-container input {
        font-size: 0.6rem;
    }

    button{
        height: 20px;
    }

    .result-text{
        top: 36%;
        font-size: 0.8rem;
    }

    .rule-box h5 {
        font-size: 1.2rem;
    }
}