aside {
  height: 79%;
  width: 20%;
  position: absolute;
  left: 2%;
  top: 4%;
}

aside p {
  font-size: 2.5rem;
  margin: 10%;
}

aside button {
  width: 50%;
  font-size: 1.6rem;
  border: 2px solid white;
  border-radius: 12px;
}

.cardGame-main-container {
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.card {
  width: 92px;
  height: 110px;
  position: relative;
}

.card > div {
  height: inherit;
  width: inherit;
}

.card img {
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 8px;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 3.5rem;
  background-color: lavender;
  border-radius: 8px;
  border: 2px solid #fff;
}

.card .back {
  width: 100%;
  height: 100%;
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

/*for Tablet Screens*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  aside {
    height: 1%;
    width: 100%;
    position: static;
    margin-top: -3%;
  }

  aside button {
    width: 14%;
    border: 2px solid white;
  }

  aside p {
    font-size: 3rem;
    margin: 0;
  }

  .cardGame-main-container {
    width: 80%;
    height: 80%;
    place-items: center;
    margin-top: 89px;
  }

  .card {
    width: 13vw;
    height: 13vh;
  }

  .card .front {
    font-size: 10vw;
  }
}

/*for Mobile screens*/
@media screen and (max-width: 767px) {
  main {
    flex-direction: column-reverse;
  }

  aside {
    height: 20%;
    width: 100%;
    position: static;
    margin-top: 6%;
  }

  aside button {
    width: 46%;
    font-size: 1.6rem;
    height: 33%;
  }

  aside p {
    font-size: 2rem;
  }

  .cardGame-main-container {
    height: 76%;
    width: 90%;
    justify-items: center;
  }

  .card {
    width: 54px;
    height: 66px;
  }

  .card .front {
    font-size: 2.5rem;
  }
}
